[Unit]
Description=bore service
After=network.target

[Service]
ExecStart=/opt/bore/bore server --secret yourpassword

[Install]
WantedBy=multi-user.target
